<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /xampp/wordpresslsp/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /xampp/wordpresslsp/index.php [L]
</IfModule>


